{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}">
<div style="text-align: center;">
    <h1 style="font-size: 50px;">{% trans "Change Password" %}</h1><hr><br>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" name="action" class="logout" id="submit">{% trans "Change Password" %}</button>
    </form>
</div>    
{% endblock %}
