{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/extra.css' %}">
<div class="container">
	<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Posts Form</span>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <!-- Breadcrumb Section Begin -->
    <center>
   		<div class='col-sm-10 col-sm-offset-3'>
    		<h2>Create New Post</h2><hr class="border">
    		<div class="text-left" style="margin-left: 80px;"><br>
    			<form method='POST' action='' enctype='multipart/form-data'>
				    {% csrf_token %}
					{{ form.as_p }}<br>
				<button type="submit" class='btn btn-dark button' id="btn">
					<i class="fa fa-plus"></i> &nbsp;Create Post
				</button><br><br>
				</form>
    		</div>    		
    	</div>
    </center>

</div>

{% endblock content %}
