{% extends "base.html" %}
{% load static %}
{% load urlify %}

{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="container">

  <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'blogpost:post-list' %}"><i class="fa fa-home"></i> Tweets</a>
                        <span>Posts (Comments) - {{ post.user }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <!-- Breadcrumb Section Begin -->

  <div class="container my-4 ml-5">

    <p class="lead">
      Post is done by the User
      <a href="{% url 'blogpost:user-posts' post.user.username %}" style="color: #707070;">
        {{ post.user }}
      </a>&nbsp;

      {% if object.user == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blogpost:post-update' object.slug %}">
          Update
        </a>&nbsp;
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blogpost:post-delete' object.slug %}">
          Delete
        </a>
      {% endif %}

    </p><hr class="border ml-1">

    <div class="row">
      <div class="col-md-11">
      <h3 class="title">{{ object.title }}</h3>
      <br>
      <p class="data">
        <span class="span">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          date
        </span>
        <span class="span">
          <a href="{% url 'blogpost:user-posts' post.user.username %}" style="color: #707070">
          <i class="fa fa-user" aria-hidden="true"></i>
          posted by {{  object.user.username }}
          </a>
        </span>
        <span class="span">
          <i class="fa fa-user" aria-hidden="true"></i>
          shopping, reviews
        </span>
        <span class="span" style="color: #707070;">
           <i class="fa fa-comments" aria-hidden="true"></i>
          <a href="{{ post.get_absolute_url }}#disqus_thread" style="color: #707070;">
          Post a comment</a>
          </a>
        </span>
      </p>
      <hr id="hr">
      <div id="blog">
        <div class="image">
           {% if object.image %}
            <img class="img" id="img" src="{{ object.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <p id="content">
          {{ object.content }}
          <br>
          </p>
        </div>
      </div>
      <h3>Post Comment</h3><hr><br>
     {% include 'blogpost/comment.html' with url=object.slug %}
    </div>
  </div>
<br>

</div>
</div>

{% endblock content %}
